header {
    background-color: #fcfcfd;
   position:-webkit-sticky;
   display:flex;
   width:100%;
   height: 150px; 
}

.logo{
    display:flex;
margin-left: 50px ;
margin-top: 30px;
padding: 0%;
width:100%;
height: 100px;


}
.main-menu{
    display:flex;
    margin-left: 100px;
    margin-top: 25px;
   
}
.main-menu ul{
    margin-bottom:0px;
    padding-top: 10px;
    display:flex;
}
.main-menu ul li{
    display: inline-flex;
    width: 240%;
    padding: 10px;
    margin-bottom: 20px;
    font-size: 200%;
    font-style:italic;
    font-weight: bold;
}
.main-menu ul li a {
    text-decoration: none;
    color:rgb(246, 5, 5) 
  
}
.main-menu ul li:hover{
    background-color: rgb(248, 242, 242);
    color:rgb(252, 3, 3);
    border-radius: 3px;
    transition-duration: .50s;
    width: 250px;
} 
.main-menu ul li:hover:active{
    color:red;
    background-color: #fcfcfd;
}
.main-menu .fa{
    margin: 10px;
    display: inline;
}

.search{
    margin-top: 50px;
    margin-left: 100px;
    width: 400px;
    height: 50px;
    padding: 10px;
    background-color: rgb(251, 248, 245);
    
    border-radius: 20px;
    align-items: center;
}
.search-bar{
    width: 350px;
    height: 50px;
    max-width:700px;
    display: flex;
    border: none;
    padding-bottom: 4px;
    align-items: center;
}
.search-bar input{
    background: transparent;
    border:0;
    flex: 1;
    outline: none;
    font-size: 20px;
    padding-bottom: 5px;
    padding-left: 10px;
}
.search-bar button{
    color: red;
    border: 0;
    background-color: transparent;
    cursor: pointer;
}
.search-bar input .fa-magnifying-glass{
    width: 200px;
    height: 200px;
    border-color: black;
    cursor: pointer;
}
.profile{
    margin-top: 35px;
    display:flex ;
    margin-left: 150px;
}
.profile i.fa-user{
    color: rgb(252, 5, 5);

}
