@charset "utf-8";
	.XMLID_1_
{
	background : #00AEEF;
	background : rgba(0, 174, 239, 1);
}
.XMLID_20_
{
	background-image : url(XMLID_20_.png);
	background-repeat : no-repeat;
}
.XMLID_3_
{
	background : #00AEEF;
	background : rgba(0, 174, 239, 1);
}
.XMLID_2_
{
	background : #00AEEF;
	background : rgba(0, 174, 239, 1);
}
